@charset "utf-8";

/************************************************************************
 - FILE NAME : main.css
 - SUMMARY   : main layout 
 - DATE      : 2015.06.22
************************************************************************/

.flex_menu_main:after {display:block; content:''; clear:both;}
.flex_menu_main .section_menu_main_7 li a {display:inline-block; width:100%; overflow:hidden; color:#666; text-overflow:ellipsis; white-space:nowrap;} 
.flex_menu_main .section_menu_main_7 li a:hover{text-decoration:underline;}
.flex_menu_main .section_menu_main_8 .menu_main {padding:0px !important;} 
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a {position:absolute; top:0px; width:50%; height:54px; padding:24px 0px 0 0px; background:#fff url('../../img/ggportal/desktop/main/tab_data.png') repeat-x 0% 100%;  box-sizing:border-box; text-align:center; font-size:19px; color:#3f3f54}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a.on {background:#fbfbfb url('../../img/ggportal/desktop/main/tab_data.png') repeat-y 0% 0%;}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a.on:first-child {background:#fbfbfb url('../../img/ggportal/desktop/main/tab_data.png') repeat-y 100% 0%;}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a_week {left:0;}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a_month {left:50%}
.flex_menu_main .section_menu_main_8 .bestData_main {clear:both; padding:67px 24px 0 24px;}
.flex_menu_main .section_menu_main_8 .bestData_main li {padding:4px 0 1px 0px; vertical-align:middle;}
.flex_menu_main .section_menu_main_8 .bestData_main li a,
.flex_menu_main .section_menu_main_8 .bestData_main li strong {display:inline-block; width:90%; margin-left:7px; vertical-align:middle; text-overflow:ellipsis; overflow:hidden; color:#666; white-space:nowrap;}
.flex_menu_main .section_menu_main_8 .bestData_main li strong {width:100%; margin-left:0px; font-weight:normal; color:#4a4a5c;}
.flex_menu_main .section_menu_main_8 .bestData_main li a:hover,
.flex_menu_main .section_menu_main_8 .bestData_main li a:hover strong {text-decoration:underline;}
.flex_menu_main .section_menu_main_8 .bestData_main li img {vertical-align:middle;}

.area_menu_main_sort .menu_main_sort span {float:left; position:relative; overflow:hidden; width:23%; height:0; margin:1%; padding-bottom:23%;}
.area_menu_main_sort .menu_main_sort span a{position:absolute;top:0;left:0;width:100%;height:100%;padding-top:68%;box-sizing:border-box;background-repeat:no-repeat;background-position: 50% 15%;text-align:center;border-radius:4px;color:#fff;letter-spacing:-1px;} 
.area_menu_main_sort .menu_main_sort span a:hover,
.area_menu_main_sort .menu_main_sort span a.on {background-color:#03abea;}
.area_menu_main_sort .menu_main_sort span .sort_1 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_1.png');}
.area_menu_main_sort .menu_main_sort span .sort_2 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_2.png');}
.area_menu_main_sort .menu_main_sort span .sort_3 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_3.png');}
.area_menu_main_sort .menu_main_sort span .sort_4 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_4.png');}
.area_menu_main_sort .menu_main_sort span .sort_5 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_5.png');}
.area_menu_main_sort .menu_main_sort span .sort_6 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_6.png');}
.area_menu_main_sort .menu_main_sort span .sort_7 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_7.png');}
.area_menu_main_sort .menu_main_sort span .sort_8 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_8.png');}
.area_menu_main_sort .menu_main_sort span .sort_9 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_9.png');}
.area_menu_main_sort .menu_main_sort span .sort_10 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_10.png');}
.area_menu_main_sort .menu_main_sort span .sort_11 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_11.png');}
.area_menu_main_sort .menu_main_sort span .sort_12 {background-image:url('../../img/ggportal/desktop/main/icon_sortMenu_12.png');}
.sort_B {display:inline-block;position:relative; overflow:hidden; width:62px; height:62px; vertical-align:middle;}
.sort_B > span {display:table;width:100%;}
.sort_B > span > span{display:table-cell;width:100%;  height:62px; background:#0094d4; border-radius:7px; background-repeat:no-repeat; text-align:center;vertical-align:middle;}
.sort_B.sort_B_1_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_1_1.png');}
.sort_B.sort_B_1_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_1_2.png');}
.sort_B.sort_B_1_3 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_1_3.png');}
.sort_B.sort_B_2_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_2_1.png');}
.sort_B.sort_B_2_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_2_2.png');}
.sort_B.sort_B_2_3 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_2_3.png');}
.sort_B.sort_B_3_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_3_1.png');}
.sort_B.sort_B_3_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_3_2.png');}
.sort_B.sort_B_3_3 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_3_3.png');}
.sort_B.sort_B_4_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_4_1.png');}
.sort_B.sort_B_4_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_4_2.png');}
.sort_B.sort_B_5_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_5_1.png');}
.sort_B.sort_B_5_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_5_2.png');}
.sort_B.sort_B_5_3 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_5_3.png');}
.sort_B.sort_B_6_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_6_1.png');}
.sort_B.sort_B_6_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_6_2.png');}
.sort_B.sort_B_7_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_7_1.png');}
.sort_B.sort_B_7_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_7_2.png');}
.sort_B.sort_B_8_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_8_1.png');}
.sort_B.sort_B_8_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_8_2.png');}
.sort_B.sort_B_9_1 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_9_1.png');}
.sort_B.sort_B_9_2 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_9_2.png');}
.sort_B.sort_B_9_3 span {background-image:url('../../img/ggportal/desktop/common/icon_sortMenu_B_9_3.png');}

@media all and (max-width:767px) {
.flex_menu_main .recomm .menu_main{padding-bottom:10px !important;}
.flex_menu_main {padding:10px 0 0 0;}
.flex_menu_main .menu_main {position:relative; width:100%; height:98px; margin:10px 0 0px 0; padding:0px 10px 0 28%;  box-sizing:border-box; background:#fff; border:1px solid #ddd;}
.flex_menu_main .deco {position:absolute; left:0px; top:0px; width:28%; height:98px;}
.flex_menu_main h3 {margin:16px 0 0 0; font-size:15px; font-weight:bold; color:#4a4a5c}
.flex_menu_main p {margin:7px 0 0 0; font-size:12px; color:#999; line-height:18px;letter-spacing:-0.1em;}
.flex_menu_main .section_menu_main_1 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_1.png') no-repeat 50% 50%; background-size:90px 60px}
.flex_menu_main .section_menu_main_2 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_2.png') no-repeat 50% 48%; background-size:90px 60px}
.flex_menu_main .section_menu_main_3 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_3.png') no-repeat 50% 50%; background-size:90px 60px}
.flex_menu_main .section_menu_main_4 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_4.png') no-repeat 50% 47%; background-size:90px 60px}
.flex_menu_main .section_menu_main_5 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_5.png') no-repeat 50% 50%; background-size:80px 42px}
.flex_menu_main .section_menu_main_6 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_6.png') no-repeat 50% 50%; background-size:90px 60px}
.flex_menu_main .section_menu_main_9 .deco {background:url('../../img/ggportal/desktop/main/icon_menu_main_new9.png') no-repeat 50% 50%; background-size:90px 60px}
.flex_menu_main .section_menu_main_5 .mq_tablet {display:none;}
/*
.flex_menu_main .section_menu_main_7 .menu_main {height:30px; background:none; border:0px; padding:0;}
.flex_menu_main .section_menu_main_7 h3 {position:absolute; left:0px; top:-6px; width:57px; height:23px; padding:0 0px 0 5px; background:url('../../img/ggportal/mobile/main/txt_notice.png') no-repeat 0% 0%; background-size:60px 23px; font-size:12px; color:#fff; line-height:22px;}
.flex_menu_main .section_menu_main_7 .notice {overflow:hidden; height:40px; padding:0 30px 0 63px;}
.flex_menu_main .section_menu_main_7 li {height:29px; padding:11px 0 0px 0;} 
*/

.flex_menu_main .recomm .menu_main {background:#62a0d1 url(../../img/ggportal/desktop/main/bg_main_recomm.png) no-repeat right bottom;border:0 none;}

.flex_menu_main .recomm .menu_main {padding-left:0;}
.flex_menu_main .recomm h3{padding:12px 15px;padding-bottom:0;margin-top:0;color:#ffffff;}
.flex_menu_main .recomm .menu_main {height:auto;}

.recomm .bestData_main li {padding:4px 0 1px 0px; vertical-align:middle;}
.recomm .bestData_main li a,
.recomm .bestData_main li strong {display:inline-block; width:86%; vertical-align:middle; text-overflow:ellipsis; overflow:hidden; color:#ffffff; white-space:nowrap;}
.recomm .bestData_main li strong {width:100%; margin-left:0px; font-weight:normal; color:#4a4a5c;}
.recomm .bestData_main li a:hover,
.recomm .bestData_main li a:hover strong {text-decoration:underline;}
.recomm .bestData_main li img {vertical-align:middle;}

.flex_menu_main .recomm .choiceData{position:relative; margin-left:11px !important;}
.dataset-recommend-blank{margin-top:11px !important;}

.flex_menu_main .recomm .recomm_list li{padding:0;}


.recomm_txt{padding-left:10px;font-size:12px;}
.recomm_list li i{vertical-align:middle;color:#62a0d1;font-weight:bold;font-style:normal;width:15px;height:15px;font-size:11px;line-height:15px;font-family:Malgun Gothic;background:#ffffff;display:inline-block;text-align:center;}

.flex_menu_main .section_menu_main_7 h3{padding:12px 15px;padding-bottom:0;margin-top:0;}
.flex_menu_main .section_menu_main_7 .cont{padding:12px 15px;}
.flex_menu_main .section_menu_main_7 .menu_main{height:auto;padding-left:0;}
.flex_menu_main .section_menu_main_7 .btn_more img{display:block;float:right;width:25px;height:25px;position:relative;top:10px;right:10px;}
.flex_menu_main .section_menu_main_7 .notice-current-list li a {font-size:12px;line-height:1.2em;}
.flex_menu_main .section_menu_main_8 .menu_main {height:170px;}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a {height:31px; padding:5px 0px 0 0px; font-size:15px; color:#4a4a5c}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a.on {background:#fff url('../../img/ggportal/desktop/main/tab_data.png') repeat-y 0% 0%;}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a.on:first-child {background:#fff url('../../img/ggportal/desktop/main/tab_data.png') repeat-y 100% 0%;}
.flex_menu_main .section_menu_main_8 .bestData_main {overflow:hidden; padding:38px 10px 0 10px;}
.flex_menu_main .section_menu_main_8 .bestData_main li {padding:1px 0 0px 0px; vertical-align:middle;font-size:12px;}
.flex_menu_main .section_menu_main_8 .bestData_main li a{font-size:12px;}
.flex_menu_main .section_menu_main_8 .bestData_main li:nth-child(6){display:none;}
.flex_menu_main .section_menu_main_8 .bestData_main li:nth-child(7){display:none;}
.flex_menu_main .section_menu_main_8 .bestData_main li:nth-child(8){display:none;}
.flex_menu_main .section_menu_main_8 .bestData_main li:nth-child(9){display:none;}
.flex_menu_main .btn_more {position:absolute; left:0px; top:0px; width:100%; height:100%;}
.flex_menu_main .btn_slide_notice_T {position:absolute; right:0px; top:0px;}
.flex_menu_main .btn_slide_notice_B {position:absolute; right:0px; top:22px;}
.flex_menu_main .btn_slide_notice_T img {width:22px; height:22px;} 
.flex_menu_main .btn_slide_notice_B img {width:22px; height:21px;}
.flex_menu_main .mq_tablet .btn_slide{position:absolute;top:11px;right:11px;} 
.flex_menu_main .btn_more img,
.flex_menu_main .deco img,
.flex_menu_main .deco.mq_moblie img {display:none;} 
.area_menu_main_sort .menu_main_sort {background:#4a4a5c; padding:1% 0%;}
.area_menu_main_sort .menu_main_sort:after {display:block; content:''; clear:both;}
.area_menu_main_sort .menu_main_sort span {width:19%; margin:0.5% 0.5%; padding-bottom:19%;}
.area_menu_main_sort .menu_main_sort span a {background-size:50% 37.2093023255%;  font-size:11px; letter-spacing:-1px; }

.flex_menu_main .btn_slide a{float:left;}
}

.area_thumbnail_gallery_safari {text-align:center;}
.area_thumbnail_gallery_safari img {display:none;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* safari only override*/
::i-block-chrome,
.flex_menu_main .section_menu_main_3 .gallery li .area_thumbnail_gallery {display:none;}
.area_thumbnail_gallery_safari img {display:inline-block; max-width:100%; max-height:100%;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.area_thumbnail_gallery_safari .safari {display:block; height:100px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* safari only override*/
::i-block-chrome,
.area_thumbnail_gallery_safari .safari {display:none;}
}

@media all and (min-width:768px) {
		
.flex_menu_main {padding:30px 0 0 0;}
.flex_menu_main .section_menu_main {float:left; width:31.32653%; margin-top:30px;}
.flex_menu_main .area_menu_main {position:relative; overflow:hidden;  width:100%; height:0; padding-bottom:100%; background:#fbfbfb; border:1px solid #ececec;}

.flex_menu_main .recomm{background:#62a0d1 url(../../img/ggportal/desktop/main/bg_main_recomm.png) no-repeat right bottom;border:0 none;}
.flex_menu_main .recomm div > h3{color:#ffffff;}

.recomm .bestData_main li {padding:4px 0 1px 0px; vertical-align:middle;}
.recomm .bestData_main li a,
.recomm .bestData_main li strong {display:inline-block; width:86%; vertical-align:middle; text-overflow:ellipsis; overflow:hidden; color:#ffffff; white-space:nowrap;}
.recomm .bestData_main li strong {width:100%; margin-left:0px; font-weight:normal; color:#4a4a5c;}
.recomm .bestData_main li a:hover,
.recomm .bestData_main li a:hover strong {text-decoration:underline;}
.recomm .bestData_main li img {vertical-align:middle;}

.flex_menu_main .recomm .choiceData {position:relative; margin:0 !important;}
.dataset-recommend-blank{margin-top:26px !important;}

.recomm_txt{padding-left:10px;}
.recomm_list li i{vertical-align:middle;color:#62a0d1;font-weight:bold;font-style:normal;width:15px;height:15px;font-size:11px;line-height:15px;font-family:Malgun Gothic;background:#ffffff;display:inline-block;text-align:center;}

.flex_menu_main .menu_main {position:absolute; top:0; left:0; width:100%; height:100%; padding:24px 25px 0 25px;  box-sizing:border-box;}
.flex_menu_main .section_menu_main_1, 
.flex_menu_main .section_menu_main_4,
.flex_menu_main .section_menu_main_7 {margin-right:2.959183673%;}
.flex_menu_main .section_menu_main_2,
.flex_menu_main .section_menu_main_5, 
.flex_menu_main .section_menu_main_8 {margin-right:3.061224489%;}
.flex_menu_main h3 {font-size:19px; color:#3f3f54}
.flex_menu_main p {margin:17px 0 0 0; color:#666; line-height:19px;}
.flex_menu_main .deco,
.flex_menu_main .cont {height:165px; margin:25px 0 0 0;}

.flex_menu_main .section_menu_main_3 .gallery {position:relative;}
.flex_menu_main .section_menu_main_3 .gallery li {text-align:center;}
.flex_menu_main .section_menu_main_3 .gallery li .area_thumbnail_gallery {position:relative; overflow:hidden; width:100%; height:0; padding-bottom:64.3%;}
.flex_menu_main .section_menu_main_3 .gallery li .area_thumbnail_gallery .thumbnail_gallery {display:block; position:absolute; top:0; left:0; width:100%; height:100%; vertical-align:middle;}
.flex_menu_main .section_menu_main_3 .gallery li .area_thumbnail_gallery .thumbnail_gallery img {max-height:100%;}

.flex_menu_main .area_link {display:block; position:absolute; overflow:hidden; left:0; top:0px; width:100%; height:0%; padding-bottom:64.20233%;  box-sizing:border-box;}
.flex_menu_main .link {display:block; position:absolute; left:0; top:0px; width:100%; height:100%; padding:5px 7px 0 7px;  box-sizing:border-box; background:#000; opacity:.40; filter:alpha(opacity=40);}
.flex_menu_main .link strong.tit ,  
.flex_menu_main .link span.summary {display:inline-block; width:100%; vertical-align:middle; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#fff; line-height:15px;} 
.flex_menu_main .link strong.tit {font-size:13px;}    
.flex_menu_main .link span.summary {font-size:11px;} 
.flex_menu_main .section_menu_main_9 .area_link {position:relative; margin:0px 0 14px 0; padding-bottom:37%;}
.flex_menu_main .section_menu_main_9 .link {padding:6% 4.5% 0 7.421875%; background:#fff; opacity:1.00; filter:alpha(opacity=100); border-radius:5px; border:1px solid #d6d6d6;}
.flex_menu_main .section_menu_main_9 .link:after {display:block; content:''; clear:both;}
.flex_menu_main .section_menu_main_9 .link:hover strong.tit,
.flex_menu_main .section_menu_main_9 .link:hover span.summary {text-decoration:underline;} 
.flex_menu_main .section_menu_main_9 .area_summary {display:inline-block; width:70%; vertical-align:middle;}
.flex_menu_main .section_menu_main_9 .link strong.tit,
.flex_menu_main .section_menu_main_9 .link span.summary {width:100%; padding:0 0 0 7%;  box-sizing:border-box; color:#666;} 
.flex_menu_main .section_menu_main_9 .link strong.tit {padding:3px 0 2px 7%; font-size:12px; color:#4a4a5c}
.flex_menu_main .section_menu_main_7 .best {margin:0 0 14px 0; padding:10px 0 10px 0; border-bottom:1px solid #d9d9d9;} 
.flex_menu_main .section_menu_main_7 li {padding:0 0 1px 0;} 
.flex_menu_main .section_menu_main_7 li.noData {text-align:center; color:#999;}
.flex_menu_main .section_menu_main_7 .best li a {font-weight:bold; color:#4a4a5c;} 
.flex_menu_main .section_menu_main_9 .choiceData {position:relative; margin:30px 0 0 0;}
.flex_menu_main .btn_more,
.flex_menu_main .btn_slide {position:absolute; right:25px; top:20px;}
.flex_menu_main .btn_slide a{float:left;}
.flex_menu_main .mq_mobile {display:none;}
.flex_menu_main_sort {position:relative; min-width:230px; max-width:980px; margin:0 auto;}
.area_menu_main_sort {z-index:52; position:absolute; overflow:hidden; width:39%; height:0; top:0%; padding-bottom:30.6%; background:#000; opacity:.65; filter:alpha(opacity=65);transition-duration:0.5s;-moz-transition-duration:0.5s;-ms-transition-duration:0.5s;}
.area_menu_main_sort:hover {opacity:.80; filter:alpha(opacity=80);}
.area_menu_main_sort .menu_main_sort {position:absolute; top:0; left:0; width:100%; height:100%; padding:6% 6% 6% 6.9%;  box-sizing:border-box;}
.area_menu_main_sort .menu_main_sort:after {display:block; content:''; clear:both;}
}

@media all and (min-width:768px) and (max-width:979px) {
.flex_menu_main {padding:20px 0 0 0;}
.flex_menu_main .section_menu_main {width:32%; margin-top:13px;}
.flex_menu_main .menu_main {padding:13px 14px 0 14px;}
.flex_menu_main .section_menu_main_1, 
.flex_menu_main .section_menu_main_2,
.flex_menu_main .section_menu_main_4,
.flex_menu_main .section_menu_main_5,
.flex_menu_main .section_menu_main_7,
.flex_menu_main .section_menu_main_8 {margin-right:2%;}
.flex_menu_main h3 {font-size:16px;}
.flex_menu_main p {margin:11px 0 0 0; font-size:11px; line-height:18px;}
.flex_menu_main .deco,
.flex_menu_main .cont {margin:9px 0 0 0;}
.flex_menu_main .link {padding:1px 7px 0 7px;}
.flex_menu_main .section_menu_main_7 .best {margin:0 0 9px 0; padding:3px 0 9px 0;} 
.flex_menu_main .section_menu_main_7 li {padding:0; line-height:14px;} 
.flex_menu_main .section_menu_main_7 .best li a {font-weight:bold; color:#4a4a5c;} 
.flex_menu_main .section_menu_main_8 .bestData_main {padding:41px 15px 0 15px;}
.flex_menu_main .section_menu_main_8 .bestData_main li {padding:0px;}
.flex_menu_main .section_menu_main_8 .bestData_main li a {width:88%; line-height:16px;}
.flex_menu_main .section_menu_main_8 .bestData_main li strong {line-height:16px !important;}
.flex_menu_main .section_menu_main_8 .tab_data a.tab_data_a {font-size:16px; height:36px; padding:13px 0px 0 0px;}
.flex_menu_main .section_menu_main_9 .choiceData {margin:21px 0 0 0;}

.flex_menu_main .recomm .choiceData{margin:0 !important;}
.dataset-recommend-blank{margin-top:11px !important;}

.recomm .bestData_main li{padding:0;}
.flex_menu_main .btn_more {position:absolute; right:14px; top:11px;}
.flex_menu_main .btn_slide {position:absolute; right:11px; top:11px;}
.flex_menu_main .btn_more img, 
.flex_menu_main .btn_slide img {width:23px; height:23px;}
.area_menu_main_sort {top:-28.7%;}
.area_menu_main_sort .menu_main_sort {padding:2%;}
.area_menu_main_sort .menu_main_sort span {width:29%; margin:1.9%; padding-bottom:29%;}
.area_menu_main_sort .menu_main_sort span a {padding-top:63%; background-position:50% 20%; font-size:11px;} 
}


/* 메인 TOP 배너 */
.deco_main {text-align:center;}
.deco_main .autoplay {z-index:1; width:100%; position:relative;}
.deco_main .autoplay li {background-repeat:no-repeat; background-position:50% 0;}
.deco_main .bx-wrapper .bx-pager {position:absolute; z-index:201; width:200px; left:50%; margin-left:-100px; margin-top:-20px; text-align:center;}
.deco_main .bx-wrapper .bx-pager .bx-pager-item {display:inline-block; *zoom:1; *display:inline;}
.deco_main .bx-wrapper .bx-pager.bx-default-pager a {display:block; width:28px; height:28px; margin:0 1px; background:url('../../img/ggportal/desktop/main/tab_rotateBanner.png') no-repeat 0 0 ;  border-radius:5px; text-indent:-9999px;}
.deco_main .bx-wrapper .bx-pager.bx-default-pager a.active {background:url('../../img/ggportal/desktop/main/tab_rotateBanner_on.png') no-repeat 0 0;}
.deco_main .bx-controls-direction {top:-259px; z-index:201;  max-width:980px; position:relative; text-align:left;  margin:0 auto;background:red;}
.deco_main .bx-controls-direction a {display:inline-block; width:13px; height:9px; margin-left:4px;}
.deco_main .bx-controls-direction a.bx-prev {position:absolute; left:95%; background:url('../../img/ggportal/desktop/main/btn_mainBanner_pre.png') 0 0 no-repeat}
.deco_main .bx-controls-direction a.bx-next {position:absolute; left:98%; background:url('../../img/ggportal/desktop/main/btn_mainBanner_next.png') 0 0 no-repeat}
.deco_main .bx-controls-auto {top:-259px; max-width:980px; position:relative; margin:0 auto; margin-top:-28px;  text-align:left;}
.deco_main .bx-controls-auto-item {display:inline; margin-right:8px;}
.deco_main .bx-start {z-index:201; display:inline-block; width:5px; height:9px; position:absolute; left:90.5%; background:url('../../img/ggportal/desktop/main/btn_banner_play.png') 0 0 no-repeat; color:transparent;}
.deco_main .bx-stop {z-index:201; display:inline-block; width:6px; height:9px; position:absolute; left:93%; background:url('../../img/ggportal/desktop/main/btn_banner_stop.png') 0 0 no-repeat; color:transparent;}

.deco_main_pr{position:relative;margin:0 auto;width:980px;}
.deco_main_btn{position:absolute;top:15px;right:0;z-index:49;}
.deco_main_btn li{float:left;}

@media all and (max-width:1023px) {
	.deco_main_pr{width:100%;}
	.deco_main_btn{right:10px;}
}

@media all and (max-width:767px) {
.deco_main .bx-controls-direction a.bx-prev {left:5%; width:15px; height:26px; margin-top:-10%; background:url('../../img/ggportal/desktop/common/btn_slide_galleryImg_L.png') 0 0 no-repeat; background-size:15px 26px;}
.deco_main .bx-controls-direction a.bx-next {left:90%; width:15px; height:26px; margin-top:-10%; background:url('../../img/ggportal/desktop/common/btn_slide_galleryImg_R.png') 0 0 no-repeat; background-size:15px 26px;}
.deco_main .bx-start {display:none;}
.deco_main .bx-stop {display:none;}
.population .popInner .btn_slide{display:none;}
	.deco_main_pr{display:none;}
}
@media all and (max-width:550px) {
.flex_menu_main .recomm .menu_main {background:#62a0d1 none;border:0 none;}
}
@media all and (max-width:370px) {
.menu_main p br{display:none;}
}
@media all and (min-width:768px) and (max-width:979px) {
.deco_main .bx-controls-auto {margin-top:-24px;}
}

/* MAIN population */
.population{margin-top:30px;text-align:center;background:#f5f4f0;}
.population .popInner{position:relative;width:980px;margin:0 auto;}
.population .popInner .btn_slide{position:absolute;top:15px;right:15px;z-index:10;}


.population div ul img{max-width:100%}

@media all and (max-width:1000px) {
	.population{margin-top:10px;}
	.population .popInner{width:auto;margin:0;text-align:center;}
}














 

