/* slider widget */
.ui-slider {
	background: url(../../images/soportal/slider/bg_time_slider.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
	margin: 0 auto;
	top: 5px;
	height: 5px;
	width: 80%;
	text-decoration: none !important;
}
.ui-slider .ui-slider-handle {
	overflow: visible !important;
}
.ui-slider a {
	text-decoration: none;
}
.ui-slider ol, .ui-slider li, .ui-slider dl, .ui-slider dd, .ui-slider dt {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ui-slider ol, .ui-slider dl {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.ui-slider dt {
	top: 1.5em;
	position: absolute;
	padding-top: .2em;
	text-align: center;
	border-bottom: 1px dotted #ddd;
	height: .7em;
	color: #999;
}
.ui-slider dt span {
	background: #fff;
	padding: 0 .5em;
}
.ui-slider li, .ui-slider dd {
	position: absolute;
	overflow: visible;
	color: #666;
}
.ui-slider li span.ui-slider-label, .ui-slider dd span.ui-slider-label {
	display: none;
}
.ui-slider li span.ui-slider-label-show, .ui-slider dd span.ui-slider-label-show {
	display: block;
}
.ui-slider span.ui-slider-tic {
	position: absolute;
	left: 0;
	height: .8em;
	top: -1.3em;
}
.ui-slider li span.ui-widget-content, .ui-slider dd span.ui-widget-content {
	border-right: 0;
	border-left-width: 1px;
	border-left-style: solid;
	border-top: 0;
	border-bottom: 0;
}
.ui-slider .first .ui-slider-tic, .ui-slider .last .ui-slider-tic {
	display: none;
}
.slider {
	margin-bottom: 50px;
	width: 95%;
	float: left;
}
.slider.sleep {
	background: #a3e5f4;
}
.slider-controller {
	padding-top: 0;
}
.ui-slider-handle.minimum, a[data-temperature="minimum"], .ui-slider-range.minimum {
	background: #a3e5f4;
}
.ui-slider-handle.saving, a[data-temperature="saving"], .ui-slider-range.saving {
	background: #f2e079;
}
.ui-slider-handle.comfort, a[data-temperature="comfort"],.ui-slider-range.comfort {
	background: #e6a235;
}
.ui-slider-handle.wake { 
	background: url(../../images/soportal/slider/icon_ctr_bar.png); 
}
.ui-slider-range.wake { 
	background: url(../../images/soportal/slider/bg_slider_range.png); 
}
.slider-tick-mark-main {
	display: inline-block;
	width: 1px;
	background: #bbb;
	height: 7px;
	position: absolute;
	top: 15px;
	font-size: 11px;
}
.slider-tick-mark-main-text {
	display: inline-block;
	width: 20px;
	height: 10px;
	position: absolute;
	top: 25px;
	font-size: 11px;
	text-align: center;
	margin-left: -9px;
}
.slider-tick-mark-side {
	display: inline-block;
	width: 1px;
	background: #ccc;
	height: 5px;
	position: absolute;
	top: 15px;
}

.ui-slider-handle.ui-state-default.ui-corner-all.wake{
	border:none;
	width:25px;
	height:25px;
	cursor:pointer;
	outline:none;
}

.ui-slider-horizontal .ui-slider-handle{top:-.6em;}